%ul.breadcrumb
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		Студентам
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		%a{ href: list_subjects_path }
			Методические указания
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		%a.active{ href: subject_manuals_path(params[:subject_id]) }
			= @subject.title

%h2
	Методические указания
	%small= @subject.title
	= link_to 'Добавить', new_subject_manual_path(params[:subject_id]),class: "btn btn-danger"


%ul
	- @manuals.each do |manual|
		%li= link_to manual.name, manual.file.url

