%ul.breadcrumb
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		Студентам
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		%a.active{ href: list_subjects_path }
			Методические указания

.page-header
%h2
	Методические указания
	%small Список предметов

.row-fluid
	.span12
		%br
		- ["Первый", "Второй", "Третий", "Четвертый", "Пятый"].each_with_index do |course, index|
			%h3= "#{index+1}. #{course} курс"
			%ol
			- Subject.where(course: index+1).each do |subject|
				%li= link_to subject.title, subject_manuals_path(subject.id)
			%hr
		%br

