%ul.breadcrumb
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		Студентам
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		%a.active{ href: list_subjects_path }
			Методические указания

.page-header
%h1
	Предметы
	%small Список предметов

.row-fluid
	.span12
		%br

		%ol
			- @subjects.each do |subject|
				%li= link_to subject.title, subject_manuals_path(subject.id)

		%br

