%ul.breadcrumb
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		Абитуриенту
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		%a{ href: subjects_path }
			Изучаемые предметы
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		%a.active{ href: new_subject_path }
			Создание нового предмета

.page-header
	%h2
		Предметы
		%br
		%small Создание нового предмета
		
= render partial: 'form'