<ul class="breadcrumb">
	<li>
		<i class="icon-chevron-right"></i>
		&nbsp;
	</li>
	<li>
		<a class="active" href="<%=root_path %>">О кафедре</a>
	</li>
</ul>

<div class="page-header">
	<h2>
		<%= @title %>
	</h2>
</div>


<div class="row-fluid">

	<div class="span9">
		<p>
			Кафедра "Специализированные компьютерные системы" (СКС) готовит специалистов по одному из самых востребованных направлений современности – "Компьютерная инженерия".
		</p>

		<p>
			Создана кафедра в 2003 году, в связи с активным развитием во всем мире IT-индустрии.
		</p>

		<p>
			На сегодняшний день выпускники данной специальности являются одними из самых востребованных и высокооплачиваемых на рынке труда.
		</p>

		<p>
			Выпускник кафедры профессионально владеет средствами разработки программного обеспечения, знание которых обязательно для работы как на отечественных предприятиях, так и в зарубежных компаниях и фирмах.
		</p>

		<p>
			Такими средствами разработки являются: .NET, Java, PHP, Visual С#, Borland C++ Builder, которые применяются для:
		</p>

		<ul>
			<li>разработки и сопровождения сайтов и других Internet-ресурсов;</li>
			<li>разработки игр и специализированного программного обеспечения;</li>
			<li>администрирования компьютерных сетей;</li>
			<li>разработки систем промышленной автоматизации.</li>
		</ul>

		<p>
			Выпускник кафедры профессионально владеет всеми этими средствами.
		</p>

		<p>
			Наши выпускники трудоустраиваются по направлению кафедры на ОАО "АМК", ОАО "Алчевсккокс", ЧП "Alchevsk.NET", а также остаются работать в <a href = 'http://www.dmmi.edu.ua'>ДонГТУ</a>
		</p>

		<p>
			Заведующий кафедрой – Гонтовой Сергей Викторович, доцент, кандидат технических наук.
		</p>


	</div>

	<div class="span3">
		<p> <img src='/images/index/1.png'> </p>
		<p> <img src='/images/index/2.png'> </p>
		<p> <img src='/images/index/4.png'> </p>
		<p> <img src='/images/index/3.png'> </p>
	</div> 

</div>

<br />
