<ul class="breadcrumb">
    <li>
        <i class="icon-chevron-right"></i>
        &nbsp;
    </li>
    <li>
        <a href="/materials/aboutdepartment">О кафедре</a>
    </li>
    <li>
        &nbsp;
        <i class="icon-chevron-right"></i>
        &nbsp;
    </li>
    <li>
        <a href="/materials/contacts" class="active">Контакты</a>
    </li>
</ul>


<div class="page-header">
    <h2>
        <%= @title %>
    </h2>
</div>

<div class="row-fluid">

    <div class="span9">

        <dl class="dl-horizontal">
            <dt>Наш адрес:</dt>
            <dd>
                94204, Украина, Луганськая область, г. Алчевск, <br />
                ул. Чапаева, 51, <br />
                Донбасcкий государственный технический университет, <br />
                4-й учебный корпус, 2-й этаж, аудитория № 210
            </dd>

            <dt>Телефон:</dt>
            <dd>+380 (6442) 2-02-02</dd>

            <dt>Web-ресурс:</dt>
            <dd><a href = 'http://scs.dmmi.edu.ua'>scs.dmmi.edu.ua</a></dd>

            <dt>E-mail:</dt>
            <dd><a href="mailto:info@dmmi.edu.ua">info@dmmi.edu.ua</a></dd>

            <dt>Проезд:</dt>
            <dd>
                <b>От ж/д вокзала:</b> трол. № 8 до ост. "пл. 30-летия Победы".<br />
                <b>От автовокзала:</b> трол. № 3 до ост. "ул. Фрунзе", далее – трол. № 6, 11 до ост. "пл. 30-летия Победы". <br>
                <b>От автостанции (центр. рынок):</b> трол. № 8, 9 до ост. "пл. 30-летия Победы"
            </dd>
        </dl>

    </div>

    <div class="span3">
        <%= image_tag '/images/contacts/1.gif' %>
    </div>

</div>
