<ul class="breadcrumb">
    <li>
        <i class="icon-chevron-right"></i>
        &nbsp;
    </li>
    <li>
        Студентам
    </li>
    <li>
        &nbsp;
        <i class="icon-chevron-right"></i>
        &nbsp;
    </li>
    <li>
        <a href="/materials/distanceLearning" class="active">Дистанционное обучение</a>
    </li>
</ul>


<div class="page-header">
	<h2>
		<%= @title %>
	</h2>
</div>

<div class="row-fluid">

	<div class="span9">

		<p>
			В нашем университете был создан <a href = 'http://www.do.dmmi.edu.ua/'>сайт</a> дистанционного обучения, на котором каждый студент может получить информацию по интересующей теме от преподавателей, а студенты-заочники могут получить <a href = '/subjects'>методические указания</a> и материалы установочной сессии, не покидая свой родной город. На сайте регулярно проводятся он-лайн консультации с <a href = '/lecturers'>преподавателями</a>. Обучение с применением дистанционных образовательных технологий предоставляет студенту следующие возможности и преимущества:
		</p>

		<ul>
			<li>
				получение первого или второго высшего образования, профессиональная переподготовка, повышение квалификации;
			</li>
			<li>
				индивидуальный учебный план, самостоятельное планирование траектории обучения, сокращение сроков обучения, гибкий график сессий;
			</li>
			<li>
				возможность приступить к обучению в любое время;
			</li>
			<li>обучение без отрыва от основной деятельности.</li>
		</ul>

		<p>Сайт дистанционного обучения создан на базе Moodle.</p>

		<p>
			Moodle - это система управления курсами (CMS), также известная как система управления обучением (LMS) или виртуальная обучающая среда (VLE). Это бесплатное веб-приложение, предоставляющее возможность преподавателям создавать эффективные сайты для онлайн-обучения.
		</p>
		<p>
			Moodle переведена на десятки языков и используется почти в 50 тысячах организаций из более чем 200 стран мира. Лидером и идеологом системы является Martin Dougiamas из Австралии. Проект является открытым и в нем участвует и множество других разработчиков.
		</p>
		<p>Более детально ознакомиться с системой Moodle можно на официальном сайте <a href = 'http://moodle.org'>Moodle</a>.</p>

	</div>

	<div class="span3">
		<%= image_tag '/images/dist_edu/1.jpg' %>
	</div>

</div>
<br>
