<ul class="breadcrumb">
  <li>
	<i class="icon-chevron-right"></i>
	&nbsp;
  </li>
  <li>
	Абитуриенту
  </li>
  <li>
	&nbsp;
	<i class="icon-chevron-right"></i>
	&nbsp;
  </li>
  <li>
	<a href="/materials/documents" class="active">Документы</a>
  </li>
</ul>

<div class="page-header">
    <h2>
        <%= @title %>
    </h2>
</div>