<ul class="breadcrumb">
  <li>
	<i class="icon-chevron-right"></i>
	&nbsp;
  </li>
  <li>
	Абитуриенту
  </li>
  <li>
	&nbsp;
	<i class="icon-chevron-right"></i>
	&nbsp;
  </li>
  <li>
	<a href="/materials/dormitories" class="active">Общежития</a>
  </li>
</ul>


<div class="page-header">
	<h2>
		<%= @title %>
	</h2>
</div>

<div class="row-fluid">
  <div class="span12">
	<p>
	  Студенты из других областей и городов обеспечены общежитием, в котором созданы все условия для проживания, отдыха, подготовки к занятиям и проведением досуга.
	</p>

	<p>
	  Наш университет имеет пять студенческих общежитий.На каждом этаже комната личной гигиены, санузлы, по 2 кухни, которые оборудованы электроплитами, столами, в каждой комнате находится холодильник. Питаются студенты самостоятельно.
	</p>

	<p>
	  Среди студентов, проживающих в общежитии создан совет студенческого самоуправления. В совет входят: староста общежития, заместитель старосты, старосты этажей. Регулярно проводятся старостаты, на которых обсуждаются проблемы студенчества. Совет студентов тесно сотрудничает с комендантом и обслуживающим персоналом общежития.
	</p>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span8">
	<h4>Общежитие № 1</h4>
	Адрес : 94204 Украина, Луганская обл. Алчевск<br />
	ул. Краснооктябрьская 16<br />
	Телефон : 2-03-39 доб. 24-10
  </div>
  <div class="span4">
	<img src = '/images/hostels/1.png'>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span8">
	<h4>Общежитие № 2</h4>
	Адрес : 94204 Украина, Луганская обл. Алчевск<br />
	ул. Краснооктябрьская 14<br />
	Телефон : 2-03-39 доб. 24-22
  </div>
  <div class="span4">
	<img src = '/images/hostels/2.png'>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span8">
	<h4>Общежитие № 3</h4>
	Адрес : 94204 Украина, Луганская обл. Алчевск<br />
	ул. Краснооктябрьская 12<br />
	Телефон : 2-03-39 доб. 24-23 
  </div>
  <div class="span4">
	<img src = '/images/hostels/3.png'>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span8">
	<h4>Общежитие № 4</h4>
	Адрес : 94204 Украина, Луганская обл. Алчевск<br />
	ул. Ленинградская 45<br />
	Телефон : 2-79-60 доб. 24-30
  </div>
  <div class="span4">
	<img src = '/images/hostels/4.png'>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span8">
	<h4>Общежитие № 5</h4>
	Адрес : 94204 Украина, Луганская обл. Алчевск<br />
	ул. Фрунзе 37<br />
	Телефон : 2-01-06 доб. 22-25
  </div>
  <div class="span4">
	<img src = '/images/hostels/5.png'>
  </div>
</div>

<br>
