<ul class="breadcrumb">
  <li>
  <i class="icon-chevron-right"></i>
  &nbsp;
  </li>
  <li>
    Студенческая жизнь
  </li>
  <li>
  &nbsp;
  <i class="icon-chevron-right"></i>
  &nbsp;
  </li>
  <li>
  <a href="/materials/groups" class="active">Художественные коллективы</a>
  </li>
</ul>

<div class="page-header">
  <h2>
    <%= @title %>
  </h2>
</div>


<div class="span12 text-center">
  <img src = '/images/groups/1.jpg'>
  <hr>
</div>


<p>
  <a href = 'http://www.dmmi.edu.ua'>ДонГТУ</a> позволяет каждому студенту развивать не только свои профессиональные качества, но также дает возможность раскрыть свои творческие способности. Центр культуры и досуга «Талант» приглашает в следующие коллективы художественной самодеятельности:
</p>

<ul>
  <li>народный оркестр духовой и эстрадной музыки (руководитель Махов Сергей Анатольевич);</li>
  <li>КВН (руководитель Худякова Марина Валерьевна);</li>
  <li>народные танцы (руководитель Новикова Светлана Сергеевна);</li>
  <li>фотоклуб «Промитей» (руководитель Макарова Елена Алексеевна);</li>
  <li>слайдклуб «Синяя птица» (руководитель Макарова Эдалина Владимировна);</li>
  <li>эстрадные танцы (руководитель Казак Альбина Анатольевна);</li>
  <li>бальные танцы (руководитель Казак Альбина Анатольевна);</li>
  <li>народный театр миниатюр «Бригантина» (руководитель Егорова Татьяна Ивановна);</li>
  <li>студия чтеца (руководитель Егорова Татьяна Ивановна);</li>
  <li>вокальная студия (руководитель Минайлова Валентина Александровна);</li>
  <li>клуб интеллектуальных игр (руководитель Выскребенцев Эдуард Петрович)</li>
  <li>литературный театр (руководитель Макарова Эдалина Владимировна).</li>
</ul>

<hr>

<div class="row-fluid">
  <div class="span6">
    <img src = '/images/groups/2.jpg'>
  </div>
  <div class="span6">
    <img src = '/images/groups/3.jpg'>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span6">
    <img src = '/images/groups/4.jpg'>
  </div>
  <div class="span6">
    <img src = '/images/groups/5.jpg'>
  </div>
</div>

<hr>

<div class="row-fluid">
  <div class="span6">
    <img src = '/images/groups/6.jpg'>
  </div>
  <div class="span6">
    <img src = '/images/groups/7.jpg'>
  </div>
</div>

<br>
<br>
