<ul class="breadcrumb">
  <li>
  <i class="icon-chevron-right"></i>
  &nbsp;
  </li>
  <li>
    Студенческая жизнь
  </li>
  <li>
  &nbsp;
  <i class="icon-chevron-right"></i>
  &nbsp;
  </li>
  <li>
  <a href="/materials/links" class="active">Ссылки</a>
  </li>
</ul>

<div class="page-header">
  <h2>
    <%= @title %>
  </h2>
</div>

<div class="row-fluid">

  <div class="span6 well">
    <legend>Web-ресурсы ДонГТУ</legend>
    <ul>

      <li><a href='http://www.dmmi.edu.ua'>Официальный сайт ДонГТУ</a></li>
      <li><a href='http://www.do.dmmi.edu.ua'>Дистанционное обучение ДонГТУ</a></li>
      <li><a href='http://www.lib.dmmi.edu.ua'>Библиотека ДонГТУ</a></li>

    </ul>
  </div>

  <div class="span6 well">
    <legend>Образовательные web-ресурсы Украины</legend>
    <ul>
      <li>
        <a href='http://www.mon.gov.ua'>Министерство образования и науки, молодежи и спорта Украины</a>
      </li>
      <li>
        <a href='http://www.vak.org.ua'>Высшая аттестационная комиссия Украины (ВАК)</a>
      </li>
      <li>
        <a href='http://www.nbuv.gov.ua'> Национальная библиотека им. Вернадского</a>
      </li>
      <li>
        <a href='http://testportal.gov.ua/'>Портал внешнего тестирования</a>
      </li>
      <li>
        <a href='http://www.vstup.info'>Информационная система "Конкурс"</a>
      </li>
    </ul>
  </div>

</div>
