<ul class="breadcrumb">
  <li>
    <i class="icon-chevron-right"></i>
    &nbsp;
  </li>
  <li>
    <a href="/materials/scientific">Научная деятельность</a>
  </li>
  <li>
    &nbsp;
    <i class="icon-chevron-right"></i>
    &nbsp;
  </li>
  <li>
    <a href="/materials/olympics" class="active">Конференции и олимпиады</a>
  </li>
</ul>

<div class="page-header">
  <h2>
    <%= @title %>
  </h2>
</div>


 <h3>Международная олимпиада "IT-планета"</h3>
 
<p>
  <b>
    IT Планета - це змагання, спрямовані на виявлення і підтримку здатних і практично підготовлених студентів, які навчаються найбільш затребуваним на ринку інформаційно-комунікаційним технологіям.
  </b>
</p>

<p>
  Місія олімпіади - сприяння професійному розвитку молоді, що навчається в ІКТ-сфері.
</p>

<p>
  Олімпіада проходить на території Росії, України, Казахстану, Білорусі і Узбекистану.
</p>

<p>
  Перемога в змаганнях дає шанс студентам проявити себе у сфері інформаційних технологій як в майбутній професійній області. Для багатьох переможців це можливість пройти виробничу практику в провідних компаніях країни або працевлаштуватися, реалізувати свої навички і знання, поспілкуватися з висококласними фахівцями, обмінятися досвідом, бути включеними до бази талановитих перспективних ІТ-фахівців для підприємств Росії, отримати кубки, медалі, а також цінні подарунки від партнерів Олімпіади.
</p>

<div class="span12 text-center">
  <img src = '/images/olympiads/1.jpg' />
</div>

<p>В конкурсній програмі IT-Олімпіади передбачено більше 15 конкурсів за номінаціями:</p>
<ul>
  <li>Номінація "Програмування";</li>
  <li>Номінація "Використання ПЗ і адміністрування";</li>
  <li>Номінація "Телеком";</li>
  <li>Номінація "Цифрова творчість";</li>
  <li>Номінація "Інноваційні та програмні проекти".</li>
</ul>

<p>
  Реєстрація ВУЗів та студентів на сайті міжнародної олімпіади <a href = 'http://world-it-planet.org'>http://world-it-planet.org</a>.
</p>

<p>
  З більш детальною інформацією про терміни проведення та правила IT-Олімпіади можна ознайомитися на офіційному сайті "IT-Планета-Украина": <a href = 'http://it-planet.org.ua/'>http://it-planet.org.ua/</a>.
</p>

<p>
  Запитання, консультація: 
  <a href="mailto:org@it-planet.org.ua">org@it-planet.org.ua</a>, тел. (044) 222-68-63 (64), т. м. (050) 330-23-15, моб. (+38050)3302311.
</p>

<br>
