<ul class="breadcrumb">
  <li>
  <i class="icon-chevron-right"></i>
  &nbsp;
  </li>
  <li>
    Студенческая жизнь
  </li>
  <li>
  &nbsp;
  <i class="icon-chevron-right"></i>
  &nbsp;
  </li>
  <li>
  <a href="/materials/rest" class="active">Отдых студентов</a>
  </li>
</ul>

<div class="page-header">
  <h2>
    <%= @title %>
  </h2>
</div>



<div class="row-fluid">
    <div class="span9">

        <h3>Oздоровительно-спортивный комплекс "Икар"</h3>
        <p>
            В 1965 году на Южном берегу Крыма в поселке Рыбачье Алуштинского района был основан оздоровительно-спортивный комплекс «Икар». Он занимает площадь 7 гектаров. Пальмы, ленкорнская акация, розмарин, гималайский кедр, сирийские розы и много других деревьев и кустарников растут на территории «Икара». Cpедняя дневная температура воздуха + 28 С, воды + 24 С.
        </p>

        <dl class="dl-horizontal">
            <dt>Размещение:</dt>
            <dd>корпус, 2-х, 3-х местные номера с умывальником; туалет, душ на этаже.</dd>
        
            <dt>Мебель:</dt>
            <dd>кровати, стол, стулья, тумбочки, балкон, шкаф.</dd>
       
            <dt>Питание:</dt>
            <dd>
                3-х разовое по комплексному меню, в обеденном зале столовой, обслуживание официантами.
            </dd>
        
            <dt>Водоснабжение:</dt>
            <dd>холодная вода постоянно, горячая по графику.</dd>
        
            <dt>Пляж:</dt>
            <dd>
                За ОСЛ «Икар» закреплена пляжная зона протяженностью 100 метров, оборудована теневой зоной, лежаки для отдыхающих - бесплатно, предлагается прокат катамаранов, скутеров.
            </dd>
        
            <dt>В стоимость входит:</dt>
            <dd>проживание, питание, пользование пляжем.</dd>
        
            <dt>Адрес:</dt>
            <dd>
                г. Алушта, п. Рыбачье, ул. Новоселов, 3, ОСЛ «Икар».
            </dd>
        </dl>
        
        <hr>

        <h3>Спортивно-оздоровительный лагерь "Буревесник"</h3>

        <dl class="dl-horizontal">
            <dt>Расположение:</dt>
            <dd>
                Лагерь расположен в прекрасном месте на побережье Черного моря в поселке Лазурное Садовского района Херсонской области. К услугам отдыхающим двухэтажные дома на семь комнат.
            </dd>
        
            <dt>Инфраструктура:</dt>
            <dd>
                На территории есть спортивные площадки. Рядом кафе, дискотеки.
            </dd>
        
            <dt>Проживание:</dt>
            <dd>
                Студенты размещаются в 2-, 3- и 4-местных номерах с удобствами (умывальник, душ, санузел) на дом.
            </dd>
        
            <dt>Питание:</dt>
            <dd>Трехкратное.</dd>
       
            <dt>Адрес:</dt>
            <dd>Херсонская обл., Садовский район, с Лазурное.</dd>
        </dl>

        <hr>

        <h3>СОК ДонГТУ "Алтагир"</h3>

        <p>
            Алтагир - пансионат государственного значения расположенный на правом береге Молочного лимана. Статус пансионата имеет с 1974 года. Площадь - 1100 га. Рассчитан на 100 человек.
        </p>

        <dl class="dl-horizontal">
            <dt>Проживание:</dt>
            <dd>Студенты размещаются в 2-, 3-местных номерах.</dd>
        </dl>

    </div>
    <div class="span3">
        <img src='/images/crimea.png'>
    </div>
</div>

<br>    
    