<ul class="breadcrumb">
    <li>
        <i class="icon-chevron-right"></i>
        &nbsp;
    </li>
    <li>
        <a href="/materials/scientific" class="active">Научная деятельность</a>
    </li>
</ul>

<div class="page-header">
    <h2>
        Научная деятельность
        <small><%= @title %></small>
    </h2>
</div>

<p>
    Научная деятельность кафедры направлена на:
</p>

<ul>
    <li>
        решение научных и прикладных задач совершенствования теоретических основ, методов и программно-аппаратных средств автоматизации производства и разработки специализированных компьютерных систем различного применения;
    </li>
    <li>
        анализ и адаптацию современных компьютерных технологий и программных продуктов для решения исследовательских и инженерных задач, задач совершенствования учебного процесса (автоматизация учебного процесса и <a href = '/materials/distanceLearning'>дистанционное обучение</a>).
    </li>
</ul>

<p>
    Подготовка научно-педагогических кадров высшей квалификации осуществляется по научным специальностям:
</p>

<ul>
    <li>05.13.06 – «Информационные технологии»;</li>
    <li>05.13.07 – «Автоматизация процессов управления».</li>
</ul>

<p>
    В настоящее время на кафедре выполняются:
</p>

<ul>
    <li>разработка прецизионных программно-управляемых высоковольтных источников питания для различного типа детекторов ионизирующего излучений и рентгеновских трубок;</li>
    <li>разработка интеллектуальной системы контроля напряжённого состояния угольного пласта впереди очистного забоя;</li>
    <li>разработка информационной технологии обработки цифровых трассерных изображений.</li>
</ul>

<p>
    Результаты научных исследований докладывались и обсуждались на следующих международных научно-технических, научно-практических конференциях и семинарах:
</p>

<ul>
    <li>
        «Системный анализ и информационные технологии (САИТ)» (г. Киев, Украина);
    </li>
    <li>
        «Актуальные вопросы теплофизики и гидрогазодинамики» (г. Новосибирск, Россия);
    </li>
    <li>
        «Критические компьютерные технологии и системы (КриКТехС)» (г. Харьков, Украина);
    </li>
    <li>
        «Современные информационные и электронные технологии (СИЭТ)» (г. Одесса, Украина); 
    </li>  
    <li>
        «Гарантоспособные (надежные и безопасные) системы, сервисы и технологии (DeSSerT)» (г. Кировоград, Украина);
    </li>
    <li>
        «Информационные технологии и информационная безопасность в науке, технике и образовании (ИНФОТЕХ)» (г. Севастополь, Украина).
    </li>
</ul>

 
 <br />
