%ul.breadcrumb
	%li
		%i.icon-chevron-right
		&nbsp;
	%li 
		%a{ href: lecturers_path } Преподаватели
	%li
		&nbsp;
		%i.icon-chevron-right
		&nbsp;
	%li
		= link_to "Новый преподаватель", new_lecturer_path, class: "active"

%h2
	Преподаватели
	%small Создание нового преподавателя

= render partial: 'form'

